<h2>{{state}}</h2>
<div class="chart-container">
  <div class="row">
    <div class="col-sm-5">
      <canvas baseChart
  [datasets]="barChartData"
  [labels]="stateLabels"
  [options]="barChartOptions"
  [legend]="barChartLegend"
  [chartType]="barChartType">
</canvas>
    </div>
    <div class="col-sm-5">
      <canvas baseChart
  [datasets]="barChartDataTotal"
  [labels]="stateLabelsTotal"
  [options]="barChartOptionsTotal"
  [legend]="barChartLegendTotal"
  [chartType]="barChartTypeTotal">
</canvas>
    </div>
  </div>

</div>
